* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primery: #aadbe9;
  --secondery: #587385;
  --tertiary: #09c3f1;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../image/Ahri_0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* background */
.container {
  width: 650px;
  height: 750px;
  margin: auto;
  border-radius: 20px;
  box-shadow: rgba(59, 161, 187, 0.4) -5px 5px,
    rgba(49, 172, 161, 0.3) -10px 10px, rgba(58, 172, 172, 0.2) -15px 15px,
    rgba(43, 31, 151, 0.1) -20px 20px, rgba(69, 201, 179, 0.05) -25px 25px;
}
.background-lin {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(50, 50, 50, 0.75), rgb(0, 0, 0));
  border-radius: 20px;
}
/* background */

/* bio */
.bio {
  width: 600px;
  margin: 0 auto;
  padding: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.bio-image {
  width: 140px;
  height: 140px;
  margin-left: 20px;
  border-radius: 50%;
  border: 4px solid var(--primery);
  background-image: url(../image/Ahri.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bio-text {
  margin-left: 40px;
}
.bio-title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "Hind Siliguri", sans-serif;
}
.bio-nickname {
  color: var(--primery);
  font-size: 25px;
  font-family: "Slabo 27px", serif;
}
/* bio end */

/* item */
.items-title {
  width: 600px;
  margin: 0 auto;
  display: block;
  text-align: left;
  color: var(--tertiary);
  font-size: 30px;
  font-family: "Hind Siliguri", sans-serif;
}
.items {
  margin: 0px auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.item-boot {
  width: 94px;
  height: 94px;
  background-image: url(../image/3047.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 15px solid var(--secondery);
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.item-1 {
  width: 94px;
  height: 94px;
  background-image: url(../image/227030.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 15px solid var(--secondery);
}
.item-2 {
  width: 94px;
  height: 94px;
  background-image: url(../image/227031.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 15px solid var(--secondery);
}
.item-3 {
  width: 94px;
  height: 94px;
  background-image: url(../image/227032.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 15px solid var(--secondery);
}
.item-4 {
  width: 94px;
  height: 94px;
  background-image: url(../image/227033.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 15px solid var(--secondery);
}
.item-5 {
  width: 94px;
  height: 94px;
  background-image: url(../image/228001.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 15px solid var(--secondery);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
/* item end */
.R-S-A {
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
/* summoners */
.summoners {
  display: flex;
  flex-direction: column;
}
.summoners-title {
  display: block;
  display: block;
  text-align: left;
  color: var(--tertiary);
  font-size: 30px;
  padding-bottom: 10px;
  font-family: "Hind Siliguri", sans-serif;
}
.summoners-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.summoners-first {
  width: 84px;
  height: 84px;
  background-image: url(../image/AnnieW.png);
  border: 10px solid var(--secondery);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.summoners-second {
  width: 84px;
  height: 84px;
  background-image: url(../image/AsheSpiritOfTheHawk.png);
  border: 10px solid var(--secondery);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* summoners end */

/* role */
.role {
  display: flex;
  flex-direction: column;
}
.role-title {
  display: block;
  display: block;
  text-align: left;
  color: var(--tertiary);
  font-size: 30px;
  padding-bottom: 10px;
  margin: auto;
  font-family: "Hind Siliguri", sans-serif;
}
.role-img {
  width: 84px;
  height: 84px;
  background-image: url(../image/Top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid var(--secondery);
  border-radius: 10px;
}
/* role end */

/* ability */
.ability {
  display: flex;
  flex-direction: column;
}
.ability-title {
  display: block;
  text-align: left;
  color: var(--tertiary);
  font-size: 30px;
  padding-bottom: 10px;
  margin: auto;
  font-family: "Hind Siliguri", sans-serif;
}
.ability-img {
  width: 84px;
  height: 84px;
  margin: 0 auto;
  background-image: url(../image/AhriQ.png);
  border: 10px solid var(--secondery);
  border-radius: 10px;
}
/* ability end */

/* part2 end */

/* Runes */
.runes {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.runes-title {
  text-align: left;
  color: var(--tertiary);
  font-size: 30px;
  padding-right: 30px;
  font-family: "Hind Siliguri", sans-serif;
}
.runes-part {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-rune {
  width: 90px;
  height: 90px;
  background-image: url(../image/Precision/Conqueror/Conqueror.png);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--secondery);
  border-radius: 50%;
  margin: 0px 25px;
}
.rune1 {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  background-image: url(../image/Precision/CoupDeGrace/CoupDeGrace.png);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--secondery);
  border-radius: 50%;
}
.rune2 {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-image: url(../image/Precision/CutDown/CutDown.png);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--secondery);
  border-radius: 50%;
}
.rune3 {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-image: url(../image/Precision/FleetFootwork/FleetFootwork.png);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--secondery);
  border-radius: 50%;
}
.rune4 {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-image: url(../image/Precision/LegendAlacrity/LegendAlacrity.png);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--secondery);
  border-radius: 50%;
}
.rune5 {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-image: url(../image/Precision/LegendTenacity/LegendTenacity.png);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--secondery);
  border-radius: 50%;
}
.mini-rune {
  width: 40px;
  height: 40px;
  margin: 10px 20px;
  background-image: url(../image/StatMods/StatModsAdaptiveForceIcon.png);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--secondery);
  border-radius: 50%;
}
.mini-rune2 {
  width: 40px;
  height: 40px;
  margin: 10px 20px;
  background-image: url(../image/StatMods/StatModsArmorIcon.png);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--secondery);
  border-radius: 50%;
}
.mini-rune3 {
  width: 40px;
  height: 40px;
  margin: 10px 20px;
  background-image: url(../image/StatMods/StatModsAttackSpeedIcon.png);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--secondery);
  border-radius: 50%;
}
/* runes end */
